absl-py
astor
Django==2.2
django-crispy-forms==1.7
google-pasta==0.1.7
h5py
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown
numpy
Pillow
protobuf
pytz

PyYAML
scipy==1.4.1
six
sqlparse
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.0
termcolor
Werkzeug
wrapt